

footer{
    background-color: #c79f6b;
    padding: 0%;
    border-top: 3px solid black;
    text-align: center;

    p{
        color:black;
        margin-bottom: 0px;
    }
}

.logo-footer{
   font-family: 'Bungee', sans-serif;
   color: black;
   text-align:center;
   margin-top: 10px;
   
    h1{
        font-size: 25px;
        margin-top: 10px;
    }

    img{
        width: 75px;
        height: 50px;
    }

}


.redes{
    
    display:flex;
   
    margin: auto;
    width: 30%;
    justify-content: space-around;
    margin-bottom: 10px;


    
    
    img{
        width:30px;
        height:30px;
    }

    p{
        color:black;
        height: 30px;
        align-items: center;
    }

    .instagram{
        
      display:flex;
    }

    .telefono{

        
      display:flex;  
    }

}
