/* Variables*/

$texto_size: 16px;
$texto_color: green;
$texto_family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

@import "footer";
@import "header";
@import "queries";


body{
    background-color: burlywood;
    
}

.navbar-brand{

    font-family: 'Bungee', cursive;
    
}

p{
    color: $texto_color;
    font-family: $texto_family;
}

.fondo{

    background-color: #a17e50;
}



.novedades {

    background-color: #a17e50;
    width:80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    box-shadow: 0px 0px 10px 1px black;
    

    a{
        color: blue;
    }
    &__titulo{
        color:white;
        letter-spacing: 4px;
        
    }
    &__parrafo{
        color:black;
        
    }
}



.sliderlibros{
    
    background-color: goldenrod;



    &__portadas{

        border: 5px solid chocolate;
        margin: 20px;

    }
}


.tabla{

    border: 10px solid lime;
    text-align: center;
    margin-right: 33%;
    margin-left: 33%;
    margin-top: 30px;
    margin-bottom: 30px;

    &__titulos{

    color:indianred;
    font-size: 25px;
    background-color:lightgrey;
    border: 5px solid orange;

    }
}


.imagenes{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
     
     
    
    p{
        text-align: center;
        border: solid black 1px;
        width: 75%;
        margin:auto;
        background-color: white;
        color: black;
        font-family: 'Rubik', sans-serif;
    }

    &__cuadros{

        width:200px;
        height: 300px;
        margin: 40px 30px 20px 30px;
        
        box-shadow: 0px 0px 10px 1px black;


        
        
    }
}

.nombres{

    background-color: cornflowerblue;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: space-evenly;
    text-align: center;

    &__texto{

        color:blueviolet;
        width: 250px;
        text-align: center;


    }
}

.ventana{
    border: 1px solid black;
    width: 90%;
    margin: auto;
    padding-top: 30px;
    background-color: #a17e50 ;
    margin-bottom: 50px;
    padding-bottom: 50px;
}

.escritores{


    &__titulo{

        color:white;
        letter-spacing: 4px;
        text-align: center;
        font-size: 70px;

    }

    &__texto{

        color:black;
        padding: 10px;
    }
}


.ofertas{

    background-color: #a17e50;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
    box-shadow: 0px 0px 10px 1px black;

    &__titulo{

        color:white;
        letter-spacing: 4px;


    }

    &__texto{
        color:black;
    }
}



.sucursales{


    background-color:#a17e50;
    width: 90%;
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
    box-shadow: 0px 0px 10px 1px black;
    padding: 0px 30px 0px 30px;

    video{
        width: 50%;
        padding: 20px 0px 40px 0px;
    }


    &__titulo{

        color:white;
        letter-spacing: 4px;

    }

    &__texto{

        color:black;
        text-align: left;
        
    }
}



@for $i from 1 to 15 {

    .medidas-p-#{$i} {

        font-size: 10 + 5 * $i;}
}

@each $color in red, green, #0BDA51 {

    .fondo-#{$color} {

        background-color: #{$color};
    }
}


$bordes: (

        solido: solid 5px black,
        cortado: dashed 5px black,
        punteado: dotted 5px black,
);

@each $tipo, $border in $bordes {

    .border-#{$tipo} {

        border: $border;
    }

}


.card{
    display: grid;
    align-items: center;
    background-color: cornsilk;
    border-radius: 35px;
    transition: all 1s;
}

.card :hover{

    transform: translate(0px, 5px);

}



.slider{

    width: 300px;
    height: 500px;
    

}

.contacto{
    text-align: center;
    margin-bottom: 30px;


}

.datos{
    
    box-shadow:  0px 0px 10px 1px black;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 40%;
    margin: auto;
    color: black;
    font-family: 'Rubik', sans-serif;
    background-color: #a17e50;
    margin-bottom: 45px;


    .comentarios{
        height: 100px;
        width: 70%;
    }

    input{
        border: black 1px solid;
    }
}

.boton{ 
    text-align: center;
    width: 35%;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 45px;
    display: flex;
    justify-content: space-around;

    input{
        height: 35px;
        transition: all 1s;
        border:black 1px solid;
    }

    input:hover{
        background-color: #32CD32;
    }
}